body{
    background-color: aliceblue;
}



.wrapper{
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    width: 1200px;
    height: 80%;

    overflow: scroll;
    /*overflow auto : otomatis menambahkan scroll untuk melihat konten , hidden : menyembunyikan konten
    sesuai lebar frame , scroll : menambahkan scroll sabanyak apapun konten nya */
}

.wrapper .box-1{
    width: 150px;
    height: 150px;
    background-color: aqua;
    overflow: auto;
    display: inline-block;
}
.wrapper .box-2{
    width: 150px;
    height: 150px;
    background-color: azure;
    overflow: hidden;
    display: inline-block;
}
.wrapper .box-3{
    width: 150px;
    height: 150px;
    background-color: bisque;
    overflow: scroll;
    display: inline-block;
}
.wrapper .box-4{
    width: 70px;
    height: 150px;
    background-color: cornsilk;
    overflow: scroll;
    display: inline-block;
}