/* membuat class selector */
.judul{
    font-family: 'Times New Roman', Times, serif;
}

.sub-judul{
    font-family: Arial, Helvetica, sans-serif;
}

.konten{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* font weight */
/* selector id */
#p1{
    font-weight: normal;
}

#p2{
    font-weight: lighter;
}

#p3{
    font-weight: bold;
}

#p4{
    font-weight: 300;
}

/* font variant */
.v1{
    font-variant: normal;
}

.v2{
    font-variant: small-caps    ;
}


/* font style */
body{
    background-color: bisque;
}
.f1{
    font-style: normal;
}
.f2{
    font-style: italic;
}

/* line height */
.lorem-1{
    line-height: normal;
}

.lorem-2{
    line-height: 1.6;
}

.lorem-3{
    line-height: 80%;
}

.lorem-4{
    line-height: 200%;
}